@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Archivo+Black&family=Golos+Text:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alexandria", sans-serif;
    background: #1D1410;
    display: grid;
    color: #EEE4CF;
    grid-template-columns: 50% 50%;
    min-height: 100vh; 
}

#esq {
    grid-column: 1;
    padding: 0 80px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#background{
    grid-column: 2;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    grid-row: 1;
    box-shadow: inset 10px 10px 10px 1000px #281E1230;
}


header{
	margin-bottom: 2%;
}

#title{
    font-size: clamp(40px, 5rem, 5vw);
    margin-bottom: 12px;
}

#botao{
    margin-top: 20px;
}

#botao button {
    font-size: 32px;
    color: #EEE4CF;
    background: #C6923D;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

#botao button:hover{
    background: #EEE4CF;
    color: #C6923D;
}

.iconizinho{
    display: flex;
    position: absolute;
    height:25px;
    top: 20px;
    left: 15px;
    padding: 0;
}

.campo{
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

#nm, #sh{
    font-size: 18px;
    background: #281E12;
    border: 1px solid #c59341;
    border-radius: 5px;
    align-items: center;
    padding: 25px;
    padding-left: 50px;
    color: #EEE4CF;
    width: 100%;
}

#nm:focus, #sh:focus{
    background: #EEE4CF;
    color: #281E12;
 }

#logo{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo img{
    max-width: 100%;
    height:auto; 
}

input::placeholder{
    position: relative;
    color: #A87F58;
    opacity: 40%;
    font-size: 18px;
}

#link{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}

#link a{
    max-width: 70%;
    grid-column: 1;
    padding-bottom: 8px;
    color: #EEE4CF;
    text-decoration: none;
    border-bottom: solid #A87F58 1px;
    text-wrap: nowrap;
}

#link a:hover{
    color: #A87F58;
}

@media (max-width: 900px){

    body {
        min-height: 0;
        display: grid;
        grid-template-columns: 100%; 
    }

    #esq {
        grid-column: 1;
        grid-row: 2;
        margin-top: 40px;
        padding: 5px 80px 80px 80px;
    }

    #logo{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
}

    #logo img{
        max-width: 30%;
        height: auto; 
}

    #background {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 100%;
}
}


