* {
        box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #e0f2fe;
    margin: 0;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;

    border: 1px solid rgba(0, 0, 0, 0.483);
    border-bottom: 5px solid #6490ad;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    margin-top: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #333;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #555;
}


#modal{
    margin-right:0px ;
    background-color: rgba(178, 34, 34, 0);
    border: none;

}
#warn{
    color: rgb(152, 113, 113);
    padding: 1rem;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.483);
    border-bottom: 5px solid #6490ad;
}


